<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <language feature="en-US" />
    <unitTestProvider name="MsTest.2010" />
    <generator allowDebugGeneratedFiles="true"></generator>
    <trace traceSuccessfulSteps="true" traceTimings="true" minTracedDuration="0:0:0.1" stepDefinitionSkeletonStyle="RegexAttribute" />
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
    </stepAssemblies>
    <plugins>
      <add name="SpecFlow.Retry" path="..\plugin" type="Generator" />
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>